 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans";
    /*background-color:red;*/
 }
 @font-face {
    font-family:"Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
 }
 html,body {
    height:100%;
 }
 .clear {
    clear:both;
 }
 .container {
    max-width:1280px;
    width:100%;
    margin:0 auto;
 }
.header {
    width:100%;
    padding:0 2%;
    height:70px;
    background-color:#212343;
}
.header img {
    margin:10px;
}
.header h2 {
    color:#FFF;
    font-weight:normal;
    font-size:35px;
    font-style:italic;
    padding:10px 0;
}
.banner {
    width:100%;
    padding:0 2%;
    height:557px;
    background-image:url('../images/header_bg.png');
    background-size:100% 100%;
    background-position:center;
}
.banner > .container {
    height:100%;
}
.banner-list {
    float: left;
    padding:30px;
    width:520px;
    height:270px;
    background-color:rgba(33,35,67,0.7);
    margin-top:100px;
}
.banner-list ul {
    list-style-position:inside;
    color:#fff;
}
.banner-list ul li {
    margin-top:18px;
}
.banner-list ul li a {
   color:#fff;
   text-decoration:none;
}
.form {
    float: right;
    width:400px;
    height:calc(100% + 30px);
    background-color:#fff;
    border-width:12px;
    border-color:rgba(120,120,120,0.5);
    border-style:solid;
    background-clip:padding-box;
    position: relative;
    top:-15px;
    padding:20px;
}
.form h2 {
    font-weight:normal;
    color:#999;
    font-size:21px;
}
.input-container {
    margin-top:20px;
}
.input-container span {
    display: inline-block;
    width:100%;
    color:#bbb;
    font-size:17px;
}
.form p {
    display: inline-block;
    width:100%;
    font-size:17px;
    margin:20px 0;
}
.input-container input[type=text] {
    margin-top:8px;
    width:344px;
    height:55px;
    padding:8px 10px 8px 10px;
    border:1px solid #ccc;
}
.input-submit-container input[type=submit] {
    color:#fff;
    font-size:25px;
    width:280px;
    height:56px;
    display:inline-block;
    background-color:#363A6D;
    border-top:0;
    border-right:0;
    border-left:0;
    cursor:pointer;
    border:5px solid #4A5097;
}
.form .input-submit-container{
	text-align: center;
}
.container-2 {
    padding:40px 2%;
    background-color:#ddd;
    text-align:center;
}
.container-2 h2 {
    font-weight:normal;
}
.container-2 p {
    width:100%;
    max-width:768px;
    margin:15px 0;
    display:inline-block;
    text-align: justify;
}
.arrow {
    position: relative;
    background-image:url('../images/arrow.png');
    background-size:100% 100%;
    width:40px;
    height:40px;
    top:60px;
    left:50%;
}
.section-1{
	padding:90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}
.container-section{
	margin-top:40px;
	text-align: center;
}
.container-single{
	float: left;
	width: 33.3333%;
	padding:30px;
}
.container-single p{
	display: inline-block;
	text-align: justify;
	padding:10px;
}
.container-single img{
	width:70px;
}
.footer {
    border-top:2px solid #888;
    padding:20px 0;
    text-align:center;
    color:#888;
}
.footer p {
    margin-top:8px;
}
.footer span {
    font-weight:bold;
    font-style:italic;
}




@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding:15px 0;
		text-align: center;
	}
    .header img {
        margin:0;
    }
    .banner-list {
        padding:30px;
        width:40%;
        max-width:600px;
        height:auto;
        display: inline-block;
    }
    .banner {
        width:100%;
        padding:40px 2%;
        height:auto;
        text-align:center;
       
    }
    .form {
        width:60%;;
        max-width:400px;
        padding:10px;
        height:100%;
        top:0;
    }
    .input-container input[type=text]{
		width: 100%;
		height: 55px;
	}


	.form input[type=submit]{
		max-width: 280px;
		height: 56px;
		width: 100%;
	}
    

}

@media screen and (max-width: ) {
    
}

@media screen and (max-width: 768px) {
    .banner-list {
        margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
    }
    .form{
		float: none;
		display: inline-block;
		width: 90%;
		margin-top:30px;
	}
    .container-2 {
        padding-left:4%;
        padding-right:4%;
       
    }
    .container-single {
        float:none;
        width:100%;
        max-width:600px;
        padding:30px 0;
    }
    .arrow {
        left:45%;
    }


}